<div class="main">
<h2>It's time to play...</h2>
<h1>Digital Humanities Dream Karaoke!</h1>

<p></p>

<table>
  <tr>
    <th>This esteemed DHer...</th>
    <th>Should sing...</th>
    <th><span class="heart">&#x2665;</span></th>
  </tr>

<% @topics.each do |topic| %>
  <tr>
    <td><%= topic.title %></td>
    <td>"<%= link_to(topic.description, topic) %>"</td>
    <td>&nbsp;<%= pluralize(topic.votes.length, "vote") %>&nbsp;/&nbsp;<%= link_to '+1', votes_path(:topic_id => topic.id), :method => :post %></td> 
  </td>
  </tr>
<% end %>
</table>

<h3><%= link_to 'Who\'s Up Next?', new_topic_path %></h3>

<p><em>Happy Holidays from your friends at the <a href="http://scholarslab.org">Scholars' Lab</a>.</em></p>
</div>
