<h2>Faster, better, stronger.</h2>
<h3>Can we help the Waynebot pass a Turing Test?</h3>

<p>Suggest and vote on Wayne-isms that should be incorporated into the Waynebot on #slab IRC.</p>

<table>
  <tr>
    <th>Vote!</th>
    <th>When discussing...</th>
    <th>Waynebot should say...</th>
    <th><span style="font-size:x-large">&#x2665;</span></th>
    <th></th>
    <th></th>
  </tr>

<% @topics.each do |topic| %>
  <tr>
    <td><%= link_to '+1', votes_path(:topic_id => topic.id), :method => :post %></td> 
    <td><%= topic.title %></td>
    <td>"<%= link_to(topic.description, topic) %>"</td>
    <td><%= pluralize(topic.votes.length, "vote") %></td>
    <td><%= link_to 'Edit', edit_topic_path(topic) %></td>
    <td><%= link_to 'Erase', topic, confirm: 'Wait a minute! Really delete this suggestion?', method: :delete %></td>
  </tr>
<% end %>
</table>

<h3><%= link_to 'Suggest one!', new_topic_path %></h3>

<p>This is NOT a project of the <a href="http://scholarslab.org">Scholars' Lab</a>. Seriously, we don't know what you're talking about.</p>
