<h1>Faster, better, stronger.</h1>
<h2>Can we help the Waynebot pass a Turing Test?</h2>

<p>Suggest and vote on Wayne-isms that should be incorporated into the Waynebot on #slab IRC.</p>

<table>
  <tr>
    <th>When discussing...</th>
    <th>Waynebot should say...</th>
    <th><span class="heart">&#x2665;</span></th>
  </tr>

<% @topics.each do |topic| %>
  <tr>
    <td><%= topic.title %></td>
    <td>"<%= link_to(topic.description, topic) %>"</td>
    <td><%= pluralize(topic.votes.length, "vote") %> / <%= link_to '+1', votes_path(:topic_id => topic.id), :method => :post %></td> 
  </td>
  </tr>
<% end %>
</table>

<h3><%= link_to 'Suggest one!', new_topic_path %></h3>

<p>This is NOT a project of the <a href="http://scholarslab.org">Scholars' Lab</a>. Seriously, we don't know what you're talking about.</p>
