<p id="notice"><%= notice %></p>

<p>
  <b>When discussing...</b>
  <%= @topic.title %>
</p>

<p>
  <b>Waynebot should say...</b>
  <%= @topic.description %>
  </p>

<p>
  <b>Votes:</b>
  <%= @topic.votes.length %>
</p>


<%= link_to 'Edit', edit_topic_path(@topic) %> |
<%= link_to 'Back', topics_path %>
