<p id="notice"><%= notice %></p>

<p>
  <b>When discussing...</b>
  <%= @topic.title %>
</p>

<p>
  <b>Waynebot should say...</b>
  <%= @topic.description %>
</p>

<p>
<b>Votes:</b>
  <%= @topic.votes.length %>  
  <%= link_to '+1', votes_path(:topic_id => @topic), :method => :post %>
</p>

<%= link_to 'Edit', edit_topic_path(@topic) %> |
<%= link_to 'Erase', @topic, confirm: 'Wait a minute! Really delete this suggestion?', method: :delete %> |
<%= link_to 'Back', topics_path %>
